
<div [ngStyle]="{
					'background': oConfig.background,
					'padding':'20px',
					'border': '5px solid black',
					'border-color': oConfig.color
				}">
  <h1>
    Welcome to {{ sTitle }}!
  </h1>
  <p>{{sDescription}}</p>

  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    &nbsp;
    <a [routerLink]="['/shoes']" [routerLinkActive]="['active']">Shoes</a>
    &nbsp;
    <a [routerLink]="['/courses']" [routerLinkActive]="['active']">Courses</a>
    &nbsp;
    <a [routerLink]="['/videogame']" [routerLinkActive]="['active']">Videogame</a>
    &nbsp;
    <a [routerLink]="['/external']" [routerLinkActive]="['active']">External</a>
    &nbsp;
    <a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact</a>
  </nav>

  <!--
  <button (click)="mHideVideogames(false)" *ngIf="bShowVideogames">Hide</button>
  <button (click)="mHideVideogames(true)" *ngIf="!bShowVideogames">Show</button>

  <videogame *ngIf="bShowVideogames"></videogame>
  <shoe></shoe>
  <courses></courses>
  -->
  <!-- <shoe></shoe> -->

  <router-outlet></router-outlet>


</div>
